      html, body {
        height: 100%;
        width:100%;
        margin: 0px;
        padding: 0px
      }

#map {
  margin-top: 1%;
  width: 100%;
}
      #eventForm {
        width:20%;
        margin:0 1%;
        float:left;
      }

      #buttonsGroup{
        text-align: center;
      }

      #map_canvas {
        width: 70%;
        height: 700px;
      }

      #userPanel{
        width:40%;
        margin-top: 1%;
        margin-left: 1%;
      }



