<% layout('../boilerplate') -%>


<div id="map" ng-controller="markerCtrl">

<div id="eventForm">

	<div class="panel panel-primary">
	<div class="panel-heading">
    	<h3 class="panel-title">Instructions</h3>
  	</div>	  
  	<div class="panel-body">
		<p>
		1) Fill in event details <br/>
		2) Click to place event <br/> 
		3) Click again to select and edit <br/>
		4) Click again to save <br/><br/>
		-> Click 'Delete' to delete marker <br/>
		-> Click 'Poll' to update your Mapp 
		</p>
		</div>
	</div>
	<div class="form-group">
		<label for="title">Title</label>
		<input ng-model="markerEvent.title" class="form-control" placeholder="Title" value="{{markerEvent.title}}">
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<input ng-model="markerEvent.description" class="form-control" placeholder="Description" value="{{markerEvent.description}}">
	</div>

		<div class="form-group">
		<label for="Start Date">Start Date</label>
		<input ng-model="markerEvent.startDate" class="form-control" placeholder="01/01/2014" value="{{markerEvent.startDate}}">
	</div>


	<div class="form-group">
		<label for="End Date">End Date</label>
		<input ng-model="markerEvent.endDate" class="form-control" placeholder="01/01/2014" value="{{markerEvent.endDate}}">
	</div>

	<div class="form-group">
		<label for="Tags">Tags</label>
		<input ng-model="markerEvent.tags" class="form-control" placeholder="Tags" value="{{markerEvent.tags}}">
	</div>
	<div class="form-group" id="buttonsGroup">
		  <button class="btn btn-danger" ng-click="delete()">Delete</button>
		  <button class="btn btn-danger" ng-click="bus()">Poll</button>
	</div>


</div>
	<map id="map_canvas"></map>
</div>
