<% layout('../boilerplate') -%>
{{2+2}}
   		<form id="markerInput"ng-submit="save()" >

    		<input ng-model="text2">{{text2}}
    		</form>
<!-- Add proper HTML5 input types--
<div ng-controller="mapCtrl" class="form-group">
  <label for="latitude">Latitude</label>
  	<input ng-model="lat" class="form-control" id="input_latitude" placeholder="Latitude">

  <label for="longitude">Longitude</label>
  	<input ng-model="lng" class="form-control" id="input_longitude" placeholder="Longitude">

  <label for="zoom">Zoom</label>
  	<input ng-model="zoom" class="form-control" id="input_zoom" placeholder="Zoom" value="6">
</div>
-->

<map id="map_canvas"></map>
