<!DOCTYPE html>
<html>
	<head>
		<title>Login-Layout</title>
		<link rel="stylesheet" type="text/css" href="/css/app.css" />
	</head>
	<body>
	
	
		<% if (!user) { %>
			
			<div id="outer">
				<div id="inner">
						<div id="middle">
						<button onclick="location.href='/';" id="homeButton" submit-button>Home</button>
						<button onclick="location.href='/auth/google';" id="loginButton" submit-button>Login</button>
					</div>
				</div>
			</div>
			
		<% } else { %>
		
			<div id="outer">
				<div id="inner">
				<div id="middle">
			Hi <%= user.displayName %>
			<button onclick="location.href='/';" id="homeButton" submit-button>Home</button> | 
			<button onclick="location.href='/account';" id="accountButton" submit-button>Account</button> | 
			<button onclick="location.href='/logout';" id="logoutButton" submit-button>Log Out</button>			
			</div>
			</div>
			</div>
		<% } %>
		
	<%- body %>
		
	</body>
	
		
</html>
